<h1>My Timesheet</h1>
<br />
<h2>
    Submit New Clock In / Clock Out
</h2>
<form method="post" action="/timesheetStore">
    <div class="row">
        <div class="col-sm-10">
            <% if(last_clock_type === 'Clock Out') { %>
            <button name="type" value="Clock In" type="submit" class="btn btn-success btn-lg">Clock In</button>
            <% } else { %>
            
        <div class="text-left" >
            <button name="type" value="Clock Out" type="submit" class="btn btn-success btn-lg">Clock Out</button>
        </div>

            <% } %>
        </div>
    </div>
    <br />
</form>
<br />
<h2>
    My Timesheet History
</h2>
<table class=" table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Date</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <%
            timesheets.forEach(
                (timesheet) => {
                    %>
                        <tr>
                            <td><%= timesheet.id %></td>
                            <td><%= timesheet.clock_in_out_datetime %></td>
                            <td><%= timesheet.clock_in_out_type %></td>
                            <td>
                                <a href="/timesheetEdit/<%= timesheet.id %>" class="btn btn-warning">Edit</a>
                            </td>
                        </tr>
                    <%
                }
            )
        
        %>
    </tbody>
</table>