<ol>
    
</ol>

<h2>
    Clock In / Clock Out
</h2>
<form method="post" action="/timesheet/create">
    <div class="form-group">
        <label>Select action:</label>
        <input type="radio" name="type" value="in">Clock In
        <input type="radio" name="type" value="out">Clock Out
    </div>
</form>