<h2>Timesheet Management System</h2>
<p>Hello <%= req.session.User.name %>! Welcome to your Timesheet Web App.</p>
<p>Click on 'My Timesheets' and start managing your Clock In and Clock Out records.</p>
<p>Enjoy your day!</p>